@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap'); /* Rubik font import */
/* Satoshi font import */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.woff2') format('woff2'),
       url('/fonts/Satoshi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-rubik;
  }
}

@layer utilities {
  /* 🔥 Define Custom Classes */
  .flex-center {
    @apply flex items-center justify-center;
  }
  .font-custom {
    @apply font-[Rubik] text-gray-900; /* ✅ Fix: Apply Rubik */
  }
  .shadow-custom {
  @apply bg-gray-100 rounded-2xl shadow-[5px_5px_20px_#c8c8c8,-5px_-5px_5px_#ffffff];
  }
}

.bg-gif {
  background: url('/src/assets/images/hero/testnigif3.gif') no-repeat center center;
  background-size: cover;
}

.neon-glow-small {
  border: 2px solid #3B82F6; /* Tailwind `blue-500` */
  box-shadow: 0 0 10px 3px rgba(59, 130, 246, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.neon-glow-small2 {
  border: 1px solid #3B82F6; /* Tailwind `blue-500` */
  box-shadow: 0 0 10px 3px rgba(59, 130, 246, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.neon-glow-small3 {
  border:  #3B82F6; /* Tailwind `blue-500` */
  box-shadow: 0 0 10px 3px rgba(59, 130, 246, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.neon-text {
  transition: text-shadow 0.3s ease-in-out;
}

.neon-text:hover {
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.8), 0 0 20px rgba(59, 130, 246, 0.6);
}

.neon-glow-medium {
  border: 4px solid #3B82F6; /* Tailwind `blue-500` */
  box-shadow: 0 0 25px 8px rgba(59, 130, 246, 0.7);
  transition: box-shadow 0.3s ease-in-out;
}

@layer utilities {
  .text-stroke-hero {
    -webkit-text-stroke: 1px white;
  }
  .text-primary-stroke-light {
    -webkit-text-stroke: 1px theme("colors.bela");
    color: transparent;
  }
  .text-primary-stroke-light2 {
    -webkit-text-stroke: 2px theme("colors.bela");
    color: transparent;
  }
  .text-primary-stroke-dark {
    -webkit-text-stroke: 1px theme("colors.modernblack");
    color: transparent;
  }
}
